<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>	Processo Seletivo - Visualizar </title>
		
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      	<!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
	<h5 class="center"> Processo Seletivo SambaTech - Teste 02</h5>
	<br/>
	<nav>
	    <div class="nav-wrapper">
	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a href="/">Instruções</a></li>
        	<li><a href="/upload">Upload Vídeo</a></li>
        	<li><a href="/videos">Visualizar Vídeos</a></li>
	      </ul>
	    </div>
  	</nav>
	
	<p class="center">
		<b>
		Em construção! <br/>
		Essa página iria listar todos os vídeos armazenados no bucket da Amazon S3, porém não foi finalizada.
		</b>
	</p>
	
	<br/>
	
  <div class=" container center" >
	<iframe width="300" height="150"
		src="https://s3.amazonaws.com/inputs-videos/outputs/1526268746814-Samba-hls-low_001.mp4">
	</iframe>
	
  	<br />
  	<br />
  	
  	<iframe width="300" height="150"
		src="https://s3.amazonaws.com/inputs-videos/outputs/padrepaulo-hls-low_001.mp4" >
	</iframe>
	
  </div>
	
	 <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>